include mixins
doctype
html(lang='en')
    head
        +standard_head("Edible Lego")
    body(style="padding-bottom:10rem;")
        +standard_body()
        +threejs_body()
        script(src='/scripts/OrbitControls.js')
        script(src='/scripts/OBJLoader.js')
        script(stc='/scripts/Delegate.js')
        script(src='/scripts/ObjFileRenderer.js')
        script(src='/scripts/BlockListRenderer.js')
        script(src='/scripts/FileSaver.js')
        script(src='/scripts/InstructionRenderer.js')

        .container
            row
                h1(class="text-center") Edible Lego
            div.panel-group
                .col-md-12
                    .panel.panel-default
                        .panel-heading.collapse1-button
                            h3.panel-title
                                |Upload Obj File
                        div#collapse1.panel-collapse.collapse.in
                            .panel-body
                                form.form-group(method="post",enctype="multipart/form-data",action="/upload")
                                      p
                                          label(for="upload-bar") Upload .obj file
                                          div(class="input-group",id="upload-bar")

                                              span(class="input-group-btn")
                                                  span(class="btn btn-primary btn-file")
                                                      |Browse&hellip;
                                                      input(type="file",name="uploaded-mesh")
                                              input(type="text",class="form-control",readonly)
                                          div.input-group
                                            label(for="block_number") Suggested number of custom parts
                                            input.form-control(type="number",name="block_number",id='block_number', value=10)
                                          div.input-group
                                              label(for="block_size") Block Size (mm)
                                              input.form-control(type="number",name="block_size", id='block_size', value=10)
                                      p
                                          span(class="input-group-btn")
                                            button(type="submit",class="btn btn-primary btn-file collapse2-button")
                                              |View Generated Design
                            .panel-footer
                                p.
                                    Please upload an .obj file then specify the the block size and number of customparts that the generated design should use.
                                    A very small block size will slow down the generation of the voxelized ouput
                                p Then click View Generated Design

                                    
            row

            div.panel-group
                .col-md-12
                    .panel.panel-default
                        .panel-heading.collapse2-button
                            h3.panel-title
                                |Mesh Viewer
                        div#collapse2.panel-collapse.collapse
                            .panel-body
                                row
                                    .col-md-6
                                        div
                                            h3(class="text-center") Uploaded Mesh
                                        div(style="margin-left:auto; margin-right:auto" align="center")
                                            .panel.panel-default
                                                .panel-body
                                                    div#input-container.model-viewer
                                                        div#input-container-spinner(style='position:relative;top: 50%;') Loading...
                                                        div#input-container-canvas


                                row
                                    .col-md-6
                                        div
                                            h3(class="text-center") Generated Design
                                        div(style="margin-left:auto; margin-right:auto" align="center")
                                            .panel.panel-default
                                                .panel-body
                                                    div#output-container.model-viewer
                                                        div#output-container-spinner(style='position:relative;top: 50%;') Loading...
                                                        div#output-container-canvas

                                row
                                    br
                                row
                                    .col-md-6
                                       button#request-mould(type="submit",class="btn btn-primary btn-file collapse3-button")
                                         |Submit Custom Generated Design
                                       
                             .panel-footer Viewer Instructions


            .panel-group
                .col-md-12
                    .panel.panel-default
                        .panel-heading.collapse3-button
                            h3.panel-title
                                |Instruction Viewer
                        div#collapse3.panel-collapse.collapse
                            .panel-body
                                row
                                    button.btn.btn-primary.btn-file.mould-downloader(type='hidden')
                                         | Download Moulds
                                row
                                    .col-md-3
                                    .col-md-6
                                        div
                                            h3(class="text-center") Instructions
                                        div(style="margin-left:auto; margin-right:auto" align="center")
                                            .panel.panel-default
                                                .panel-body
                                                    div#instruction-container.model-viewer

                                    .col-md-3
                                row
                                    .col-md-3
                                        .test
                                    .col-md-6
                                        button.btn.btn-primary.btn-file#button-left Previous step
                                        button.btn.btn-primary.btn-file#button-right Next step
                                    .col-md-3
                                
                            .panel-footer Instruction Viewer Instructions

        
        script(type='text/javascript').
            var objRenderer, blockRenderer, instructionRenderer;
            var objRendererContainer = document.getElementById("input-container-canvas")
            var blockRendererContainer = document.getElementById("output-container-canvas")
            var instructionContainer = document.getElementById("instruction-container")


            
            
            var width = 507-30;
            var height = width;
            
            
            $('document').ready(function () {
                $('.mould-downloader').hide()
                $('#output-container-spinner').hide();
                $('#input-container-spinner').hide();
                $('#request-mould').hide()


                $(".collapse1-button").click(function(){
                    $("#collapse1").collapse('show');
                    $("#collapse2").collapse('hide');
                    $("#collapse3").collapse('hide');
                });
                
                $(".collapse2-button").click(function(){
                    $("#collapse2").collapse('show');
                    $("#collapse1").collapse('hide');
                    $("#collapse3").collapse('hide');
                });
                
                $(".collapse3-button").click(function(){
                    $("#collapse3").collapse('show');
                    $("#collapse1").collapse('hide');
                    $("#collapse2").collapse('hide');
                });
                
                $('.model-viewer').css('width', width).css('height', height);
        
                objRenderer = new ObjFileRenderer(width, height, objRendererContainer);
                blockRenderer = new BlockListRenderer(width, height, blockRendererContainer);
                blockRenderer.enableYLimit();
                blockRenderer.enableHoverDetection();
                
                var customPartSize, centerOfMass, offset;
                
                
                var setHighlightBlockPositionSuper = blockRenderer.setHighlightBlockPosition;
                blockRenderer.setHighlightBlockPosition = function(x,y,z) {
                    var convertedX = centerOfMass.x + (x - offset.x)*customPartSize;
                    var convertedY = centerOfMass.y + (y - offset.y)*customPartSize;
                    var convertedZ = centerOfMass.z + (z - offset.z)*customPartSize;
                    
                    objRenderer.setHighlightBlockPosition(convertedX, convertedY, convertedZ);
                    
                    
                    setHighlightBlockPositionSuper.call(blockRenderer, x, y, z);
                }


                
                instructionRenderer = new InstructionRenderer(width, height, instructionContainer);


                $("#button-left").click(function(){
                    instructionRenderer.renderer.decrementMaxBlockID();
                });

                $("#button-right").click(function(){
                    instructionRenderer.renderer.incrementMaxBlockID();
                });
                
                blockRenderer.onBlockSelected = function(x, y, z, block) {
                    if (block.custom_part_array == null)
                        return
                    if (!block.use_custom_part) {
                        block.use_custom_part = true;
                        block.custom_part_index = 0;
                    } else if (block.custom_part_index == 3) {
                        block.use_custom_part = false;
                    } else {
                        block.custom_part_index++;
                    }
                    while (block.custom_part_array[block.custom_part_index] == null) {
                        if (block.custom_part_index == 3) {
                            block.use_custom_part = false;
                            break;
                        }
                        block.custom_part_index++;
                    }
                    
                    blockRenderer.refresh();
                }
                
                var options = {
                    beforeSubmit: showRequest,  // pre-submit callback
                    success: showResponse  // post-submit callback
                };
                
                
                $('form').ajaxForm(options)
                function showRequest(formData, jqForm, options) {
        
                    console.log('start')
                    console.log(formData)

                    $('#output-container-spinner').show();
                    $('#output-container-canvas').hide();
                    
                    $('#input-container-spinner').show();
                    $('#input-container-canvas').hide();
                    
                    customPartSize = formData[2].value;
                    objRenderer.setScale(customPartSize);
                  
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var contents = e.target.result;
                        objRenderer.setObjData(contents);
                    };
                  
                    reader.readAsText(formData[0].value);
                    return true;
                }
        
                function showResponse(response, statusText, xhr, $form) {
                    console.log(response)
                    if ('error' in response) {
                        console.log('Error: ' + response.error)
                    } else {
                        centerOfMass = response.center_of_mass;
                        offset = response.offset;
                        blockRenderer.setBlockList(response.block_list);
                        objRenderer.setGrid(centerOfMass, offset);
                        
                        $('#output-container-spinner').hide();
                        $('#output-container-canvas').show();
                        $('#input-container-canvas').show();
                        $('#input-container-spinner').hide();
                        $('#request-mould').show();
                    }
                }

                var request_moulds = function() {
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", '/request-moulds', true);
                    xhr.setRequestHeader("Content-type", "application/json");
                    xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState == 4 && xhr.status == 200) {
                            var blob = new Blob([xhr.response], {type: "octet/stream"});
                            var fileName = "moulds.zip";
                            $('.mould-downloader').click(function() {
                                saveAs(blob, fileName);
                            }).show();
                        }
                    }
                    var blockList = blockRenderer.getBlockList();
                    xhr.responseType = "arraybuffer";
                    xhr.send(JSON.stringify({block_list: blockList, custom_part_size: customPartSize}));
                    instructionRenderer.setBlockList(blockList);
                }

                $('#request-mould').click(function(event) {
                    request_moulds();
                    //console.log('test')
                })
            });
                    
