include mixins
doctype
html(lang='en')
    head
        +standard_head("Edible Lego")
    body(style="padding-bottom:10rem;")
        +standard_body()
        +threejs_body()
        script(src='/scripts/OrbitControls.js')
        script(src='/scripts/OBJLoader.js')
        script(stc='/scripts/Delegate.js')
        script(src='/scripts/ObjFileRenderer.js')
        script(src='/scripts/BlockListRenderer.js')
        script(src='/scripts/FileSaver.js')
        script(src='/scripts/InstructionRenderer.js')

        .container
            row
                h1(class="text-center") Edible Lego
            div.panel-group
                .col-md-12
                    .panel.panel-default
                        .panel-heading
                            h3.panel-title
                                a(data-toggle='collapse', href='#collapse1') Upload Obj File
                        div#collapse1.panel-collapse.collapse.in
                            .panel-body
                                form.form-group(method="post",enctype="multipart/form-data",action="/upload")
                                      p
                                          label(for="upload-bar") Upload .obj file
                                          div(class="input-group",id="upload-bar")

                                              span(class="input-group-btn")
                                                  span(class="btn btn-primary btn-file")
                                                      |Browse&hellip;
                                                      input(type="file",name="uploaded-mesh")
                                              input(type="text",class="form-control",readonly)
                                          div.input-group
                                            label(for="block_number") Suggested number of custom parts
                                            input.form-control(type="number",name="block_number",id='block_number', value=10)
                                          div.input-group
                                              label(for="block_size") Block Size (mm)
                                              input.form-control(type="number",name="block_size", id='block_size', value=10)
                                      p
                                          span(class="input-group-btn")
                                            button(type="submit",class="btn btn-primary btn-file btn-collapse2")
                                              |View Generated Design
                            .panel-footer Upload Instructions

                                    
            row

            div.panel-group
                .col-md-12
                    .panel.panel-default
                        .panel-heading
                            h3.panel-title
                                a(data-toggle='collapse', href='#collapse2') Mesh Viewer
                        div#collapse2.panel-collapse.collapse
                            .panel-body
                                row
                                    .col-md-6
                                        div
                                            h3(class="text-center") Uploaded Mesh
                                        div(style="margin-left:auto; margin-right:auto" align="center")
                                            .panel.panel-default
                                                .panel-body
                                                    div#input-container.model-viewer


                                row
                                    .col-md-6
                                        div
                                            h3(class="text-center") Generated Design
                                        div(style="margin-left:auto; margin-right:auto" align="center")
                                            .panel.panel-default
                                                .panel-body
                                                    div#output-container.model-viewer
                                row
                                    br
                                row
                                    .col-md-6
                                       button#request-mould(type="submit",class="btn btn-primary btn-file btn-collapse3")
                                         |Submit Custom Generated Design
                                       
                             .panel-footer Viewer Instructions


            .panel-group
                .col-md-12
                    .panel.panel-default
                        .panel-heading
                            h3.panel-title
                                a(data-toggle='collapse', href='#collapse3') Instruction Viewer
                        div#collapse3.panel-collapse.collapse
                            .panel-body
                                row
                                    button.btn.btn-primary.btn-file.mould-downloader(type='hidden')
                                         | Download Moulds
                                row
                                    .col-md-3
                                    .col-md-6
                                        div
                                            h3(class="text-center") Instructions
                                        div(style="margin-left:auto; margin-right:auto" align="center")
                                            .panel.panel-default
                                                .panel-body
                                                    div#instruction-container.model-viewer
                                    .col-md-3
                                
                            .panel-footer Instruction Viewer Instructions

        
        script(type='text/javascript').
            var objRenderer, blockRenderer, instructionRenderer;
            var objRendererContainer = document.getElementById("input-container")
            var blockRendererContainer = document.getElementById("output-container")
            var instructionContainer = document.getElementById("instruction-container")
            
            
            var width = 507-30;
            var height = width;
    
            $('document').ready(function () {
                $('.mould-downloader').hide()


                $(".btn-collapse1").click(function(){
                    $("#collapse1").collapse('show');
                });
                
                $(".btn-collapse2").click(function(){
                    $("#collapse2").collapse('show');
                });
                
                $(".btn-collapse3").click(function(){
                    $("#collapse3").collapse('show');
                });
                
                $('.model-viewer').css('width', width).css('height', height);
        
                objRenderer = new ObjFileRenderer(width, height, objRendererContainer);
                blockRenderer = new BlockListRenderer(width, height, blockRendererContainer);
                blockRenderer.enableYLimit();
                
                instructionRenderer = new InstructionRenderer(width, height, instructionContainer);
                
                blockRenderer.onBlockSelected = function(x, y, z, block) {
                    if (block.custom_part_array == null)
                        return
                    if (!block.use_custom_part) {
                        block.use_custom_part = true;
                        block.custom_part_index = 0;
                    } else if (block.custom_part_index == 5) {
                        block.use_custom_part = false;
                    } else {
                        block.custom_part_index++;
                    }
                    while (block.custom_part_array[block.custom_part_index] == null) {
                        if (block.custom_part_index == 5) {
                            block.use_custom_part = false;
                            break;
                        }
                        block.custom_part_index++;
                    }
                    
                    blockRenderer.refresh();
                }
                
                var options = {
                    beforeSubmit: showRequest,  // pre-submit callback
                    success: showResponse  // post-submit callback
                };
                
                var customPartSize = 10;
                
                $('form').ajaxForm(options)
                function showRequest(formData, jqForm, options) {
        
                    console.log('start')
                    console.log(formData)
                    
                    customPartSize = formData[2].value;
                  
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var contents = e.target.result;
                        objRenderer.setObjData(contents);
                    };
                  
                    reader.readAsText(formData[0].value);
                    return true;
                }
        
                function showResponse(response, statusText, xhr, $form) {
                    console.log(response)
                    if ('error' in response) {
                        console.log('Error: ' + response.error)
                    } else {
                        blockRenderer.setBlockList(response)
                    }
                }

                var request_moulds = function() {
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", '/request-moulds', true);
                    xhr.setRequestHeader("Content-type", "application/json");
                    xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState == 4 && xhr.status == 200) {
                            var blob = new Blob([xhr.response], {type: "octet/stream"});
                            var fileName = "moulds.zip";
                            $('.mould-downloader').click(function() {
                                saveAs(blob, fileName);
                            }).show();
                        }
                    }
                    var blockList = blockRenderer.getBlockList();
                    xhr.responseType = "arraybuffer";
                    xhr.send(JSON.stringify({block_list: blockList, custom_part_size: customPartSize}));
                    instructionRenderer.setBlockList(blockList);
                }

                $('#request-mould').click(function(event) {
                    request_moulds();
                    //console.log('test')
                })
            });
                    
