include mixins
doctype
html(lang='en')
    head
        +standard_head("Edible Lego")
    body(style="padding-bottom:10rem;")
        +standard_body()
        +threejs_body()
        script(src='/scripts/OrbitControls.js')
        script(src='/scripts/OBJLoader.js')
        script(stc='/scripts/Delegate.js')
        script(src='/scripts/ObjFileRenderer.js')
        script(src='/scripts/BlockListRenderer.js')
        
        .container
            row
                h1(class="text-center") Edible Lego
            div.panel-group
                .col-md-12
                    .panel.panel-default
                        .panel-heading
                            h3.panel-title
                                a(data-toggle='collapse', href='#collapse1') Upload
                        div#collapse1.panel-collapse.collapse.in
                            .panel-body

                                form.form-group(method="post",enctype="multipart/form-data",action="/upload")
                                      p
                                          div(class="input-group")
                                              span(class="input-group-btn")
                                                  span(class="btn btn-primary btn-file")
                                                      |Browse&hellip;
                                                      input(type="file",name="uploaded-mesh")
                                              input(type="text",class="form-control",readonly)
                                              span(class="input-group-btn")
                                                button(type="submit",class="btn btn-primary btn-file")
                                                    |Submit
                                    
            row

            div.panel-group
                .col-md-12
                    .panel.panel-default
                        .panel-heading
                            h3.panel-title
                                a(data-toggle='collapse', href='#collapse2') Mesh Viewer
                        div#collapse2.panel-collapse.collapse
                            .panel-body

                                row
                                    div
                                        h3(class="text-center") Uploaded Mesh
                                row
                                    div(style="margin-left:auto; margin-right:auto" align="center")
                                        .panel.panel-default
                                            .panel-body
                                                div#input-container.model-viewer



                                row
                                    div
                                        h3(class="text-center") Generated Design
                                row
                                    div(style="margin-left:auto; margin-right:auto" align="center")
                                        .panel.panel-default
                                            .panel-body
                                            div#output-container.model-viewer
                            .col-md-6
                                button(type="submit",class="btn btn-primary btn-file")
                                    |Submit

            .panel-group
                .col-md-12
                    .panel.panel-default
                        .panel-heading
                            h3.panel-title
                                a(data-toggle='collapse', href='#collapse3') Instruction Viewer
                        div#collapse3.panel-collapse.collapse
                            .panel-body Insert Instruction Viewer

        
        script(type='text/javascript').
            var objRenderer, BlockRenderer;
            var objRendererContainer = document.getElementById("input-container")
            var blockRendererContainer = document.getElementById("output-container")
            
            
            
            var width = 500
            var height = width;
    
            $('document').ready(function () {
                $('.model-viewer').css('width', width).css('height', height);
        
                objRenderer = new ObjFileRenderer(width, height, objRendererContainer);
                BlockRenderer = new BlockListRenderer(width, height, blockRendererContainer);
                
                
                var options = {
                    beforeSubmit: showRequest,  // pre-submit callback
                    success: showResponse  // post-submit callback
                };
                $('form').ajaxForm(options)
                function showRequest(formData, jqForm, options) {
        
                    console.log('start')
                    console.log(formData[0].value)
                  
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var contents = e.target.result;
                        objRenderer.setObjData(contents);
                    };
                  
                    reader.readAsText(formData[0].value);
                    return true;
                }
        
                function showResponse(response, statusText, xhr, $form) {
                    console.log(response)
                    if ('error' in response) {
                        console.log('Error: ' + response.error)
                    } else {
                        BlockRenderer.setBlockList(response)
                    }
                } 
            })            
                    
