include mixins
doctype
html(lang='en')
    head
        +standard_head("Edible Lego")
    body(style="padding-bottom:10rem;")
        +standard_body()
        +threejs_body()
        script(src='/scripts/OrbitControls.js')
        script(src='/scripts/OBJLoader.js')
        script(stc='/scripts/Delegate.js')
        script(src='/scripts/ObjFileRenderer.js')
        script(src='/scripts/BlockListRenderer.js')
        script(src='/scripts/FileSaver.js')
        script(src='/scripts/InstructionRenderer.js')

        .container
            div.row
                h1(class="text-center") Edible Lego
            div.panel-group
                .col-md-12
                    .panel.panel-default
                        .panel-heading.collapse1-button
                            h3.panel-title
                                |Upload Obj File
                        div#collapse1.panel-collapse.collapse
                            .panel-body
                                form.form-group(method="post",enctype="multipart/form-data",action="/upload")
                                    p
                                          label(for="upload-bar") Upload .obj file
                                          div(class="input-group",id="upload-bar")
                                              span(class="input-group-btn")
                                                  span(class="btn btn-primary btn-file")
                                                      |Browse&hellip;
                                                      input(type="file",name="uploaded-mesh",style="box-sizing: border-box; width: 100%;height: 100%;", required)
                                              input(type="text",class="form-control",readonly,id='uploaded-mesh-field')
                                    p
                                          div.input-group
                                            label(for="block_number") Maximum number of custom parts
                                            input.form-control(type="text",pattern="[0-9]*",name="block_number",id='block_number', value=10, required).numbersOnly
                                    p
                                          div.input-group
                                              label(for="block_size") Block Size (mm)
                                              input.form-control(type="text",pattern="[0-9]*",name="block_size", id='block_size', value=10, required).numbersOnly
                                    p
                                          span(class="input-group-btn")
                                            button(type="submit",class="btn btn-primary btn-file")
                                              |View Generated Design

                            .panel-footer 
                                p Please upload a mesh, specify the desired parameters and when finished click 'View Generated Design'
            

            div.panel-group
                .col-md-12
                    .panel.panel-default
                        .panel-heading.collapse2-button
                            h3.panel-title
                                |Mesh Viewer
                        div#collapse2.panel-collapse.collapse
                            .panel-body
                                div.row
                                    .col-md-6
                                        div
                                            h3(class="text-center") Uploaded Mesh
                                        div(style="margin-left:auto; margin-right:auto" align="center")
                                            .panel.panel-default
                                                .panel-body
                                                    div#input-container.model-viewer
                                                        div#input-container-spinner(style='position:relative;top: 50%;') Loading...
                                                        div#input-container-canvas


                                    .col-md-6
                                        div
                                            h3(class="text-center") Generated Design
                                        div(style="margin-left:auto; margin-right:auto" align="center")
                                            .panel.panel-default
                                                .panel-body
                                                    div#output-container.model-viewer
                                                        div#output-container-spinner(style='position:relative;top: 50%;') Loading...
                                                        div#output-container-canvas
                                div.row
                                    br
                                div.row
                                    .col-md-12
                                       button#request-mould(type="submit",class="btn btn-primary btn-file")
                                         |Submit Custom Generated Design
                                       
                             .panel-footer
                                p The left hand view shows the uploaded mesh, the right hand view shows the generated result.
                                p Left-clicking on a block in the right hand view will cycle through the available custom parts for that block.
                                p Use the right mouse button to pan and the middle mouse button to rotate
                                p Use the up and down arrow keys to limit the render height
                                


            .panel-group
                .col-md-12
                    .panel.panel-default
                        .panel-heading.collapse3-button
                            h3.panel-title
                                |Instruction Viewer
                        div#collapse3.panel-collapse.collapse
                            .panel-body
                                div.row
                                    h3(class="text-center") Instructions
                                div.row
                                    .col-md-3
                                    .col-md-6
                                        div(style="margin-left:auto; margin-right:auto" align="center")
                                            .panel.panel-default
                                                .panel-body
                                                    div#instruction-container.model-viewer
                                                        div#instruction-container-spinner(style='position:relative;top: 50%;') Loading...
                                                        div#instruction-container-canvas

                                    .col-md-3.instruction-buttons
                                        button.btn.btn-primary.mould-downloader(type='hidden', style="margin-right:5px")
                                            | Download Moulds
                                div.row
                                        br
                                div.row
                                    .col-md-3
                                        
                                    .col-md-6
                                        div.instruction-buttons
                                            h4#instruction-label.pull-left Coords: 23-12-67
                                            div.btn-group.inline.pull-right
                                                button.btn.btn-default#button-left Previous step
                                                button.btn.btn-default#button-right Next step
                                        
                                    .col-md-3
                                
                            .panel-footer
                                p Use the arrow keys or the on screen buttons to step through the assembly Instructions
                                p Use the 'Download Moulds' button to download the moulds for 3D printing
                               
        
        script(type='text/javascript').
            var objRenderer, blockRenderer, instructionRenderer;
            var objRendererContainer = document.getElementById("input-container-canvas")
            var blockRendererContainer = document.getElementById("output-container-canvas")
            var instructionContainer = document.getElementById("instruction-container-canvas")
            var instructionLabel = document.getElementById("instruction-label");
            var panelNumber = 1;

            
            
            var width = 507-30;
            var height = width;
            
            function showCollapse1() {
                objRenderer.setActive(false);
                blockRenderer.setActive(false);
                instructionRenderer.setActive(false);
                
                $("#collapse1").collapse('show');
                $("#collapse2").collapse('hide');
                $("#collapse3").collapse('hide');
                $('#request-mould').hide()
                panelNumber = 1;
            }
            
            function showCollapse2() {
                objRenderer.setActive(true);
                blockRenderer.setActive(true);
                instructionRenderer.setActive(false);
                
                $("#collapse2").collapse('show');
                $("#collapse1").collapse('hide');
                $("#collapse3").collapse('hide');
                panelNumber = 2;
            }
            
            function showCollapse3() {
                objRenderer.setActive(false);
                blockRenderer.setActive(false);
                instructionRenderer.setActive(true);
                
                $("#collapse3").collapse('show');
                $("#collapse1").collapse('hide');
                $("#collapse2").collapse('hide');
                panelNumber = 3;
            }
            
            
            $('document').ready(function () {
                
                $('.numbersOnly').on('keypress', function(e){
                  return e.metaKey || // cmd/ctrl
                    e.which <= 0 || // arrow keys
                    e.which == 8 || // delete key
                    /[0-9]/.test(String.fromCharCode(e.which)); // numbers
                })
                
                $('.mould-downloader').hide()
                $('#output-container-spinner').hide();
                $('#input-container-spinner').hide();
                $('#instruction-container-spinner').hide();
                $('#request-mould').hide()


                $(".collapse1-button").click(function () {
                    if (panelNumber > 1 && !window.confirm("Are you sure you wish to continue? All changes will be lost."))
                        return;
                    showCollapse1();
                    });
                    
                $(".collapse2-button").click(function() {
                    if (panelNumber < 2)
                        return;
                        
                    showCollapse2();
                    });
                    
                $(".collapse3-button").click(function() {
                    if (panelNumber < 3)
                        return
                    showCollapse3();
                    });
                
                $('.model-viewer').css('width', width).css('height', height);
        
                objRenderer = new ObjFileRenderer(width, height, objRendererContainer);
                blockRenderer = new BlockListRenderer(width, height, blockRendererContainer);
                instructionRenderer = new InstructionRenderer(width, height, instructionContainer, instructionLabel);
                blockRenderer.enableYLimit();
                blockRenderer.enableHoverDetection();
                
                var customPartSize, centerOfMass, offset;
                
                
                var setHighlightBlockPositionSuper = blockRenderer.setHighlightBlockPosition;
                blockRenderer.setHighlightBlockPosition = function(x,y,z) {
                    var convertedX = centerOfMass.x + (x - offset.x)*customPartSize;
                    var convertedY = centerOfMass.y + (y - offset.y)*customPartSize;
                    var convertedZ = centerOfMass.z + (z - offset.z)*customPartSize;
                    
                    objRenderer.setHighlightBlockPosition(convertedX, convertedY, convertedZ);
                    
                    
                    setHighlightBlockPositionSuper.call(blockRenderer, x, y, z);
                }

                
                
                showCollapse1();

                $("#button-left").click(function(){
                    instructionRenderer.renderer.decrementMaxBlockID();
                });

                $("#button-right").click(function(){
                    instructionRenderer.renderer.incrementMaxBlockID();
                });
                
                blockRenderer.onBlockSelected = function(x, y, z, block) {
                    if (block.custom_part_array == null)
                        return
                    if (!block.use_custom_part) {
                        block.use_custom_part = true;
                        block.custom_part_index = 0;
                    } else if (block.custom_part_index == 3) {
                        block.use_custom_part = false;
                    } else {
                        block.custom_part_index++;
                    }
                    while (block.custom_part_array[block.custom_part_index] == null) {
                        if (block.custom_part_index == 3) {
                            block.use_custom_part = false;
                            break;
                        }
                        block.custom_part_index++;
                    }
                    
                    blockRenderer.refresh();
                }
                
                var options = {
                    beforeSubmit: showRequest,  // pre-submit callback
                    success: showResponse  // post-submit callback
                };
                
                
                $('form').ajaxForm(options)
                function showRequest(formData, jqForm, options) {    
                    console.log('start')
                    console.log(formData)
                    
                    showCollapse2();

                    $('#output-container-spinner').show();
                    $('#output-container-canvas').hide();
                    
                    $('#input-container-spinner').show();
                    $('#input-container-canvas').hide();
                    
                    customPartSize = formData[2].value;
                    objRenderer.setScale(customPartSize);
                  
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var contents = e.target.result;
                        objRenderer.setObjData(contents);
                    };
                  
                    reader.readAsText(formData[0].value);
                    return true;
                }
        
                function showResponse(response, statusText, xhr, $form) {
                    console.log(response)
                    if ('error' in response) {
                        alert('An Error Occurred: ' + response.error)
                        showCollapse1();
                    } else {
                        centerOfMass = response.center_of_mass;
                        offset = response.offset;
                        blockRenderer.setBlockList(response.block_list);
                        objRenderer.setGrid(centerOfMass, offset, blockRenderer.getBlockListDimensions());
                        
                        $('#output-container-spinner').hide();
                        $('#output-container-canvas').show();
                        $('#input-container-canvas').show();
                        $('#input-container-spinner').hide();
                        $('#request-mould').show();
                    }
                }

                var request_moulds = function() {
                    
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", '/request-moulds', true);
                    xhr.setRequestHeader("Content-type", "application/json");
                    xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState == 4) {
                            if (xhr.status == 500){
                                var ret = JSON.parse(String.fromCharCode.apply(null, new Uint8Array(xhr.response)));                                
                                alert('An Error Occurred: ' + ret.error)
                                showCollapse2();
                            } else if (xhr.status == 200) {
                                var blob = new Blob([xhr.response], {type: "octet/stream"});
                                var fileName = "moulds.zip";
                                $('.mould-downloader').unbind('click')
                                $('.mould-downloader').bind('click',function() {
                                    saveAs(blob, fileName);
                                }).show();
                                $('#instruction-container-spinner').hide();
                                $('#instruction-container-canvas').show();
                                $('.instruction-buttons').show();
                            }
                        }
                    }
                    var blockList = blockRenderer.getBlockList();
                    xhr.responseType = "arraybuffer";
                    xhr.send(JSON.stringify({block_list: blockList, custom_part_size: customPartSize}));
                    instructionRenderer.setBlockList(blockList);
                }

                $('#request-mould').click(function(event) {
                    $('#instruction-container-spinner').show();
                    $('#instruction-container-canvas').hide();
                    $('.instruction-buttons').hide();
                    
                    showCollapse3();
                    
                    request_moulds();
                    //console.log('test')
                })
            });
                    
