include mixins
include ajax-form-mixin
html
  head
    title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    form.form-group(method="post",enctype="multipart/form-data",action="/upload")
      p
        input(type="file",name="uploaded-mesh")
        input(type="submit")

    div.models
      div.model-viewer.input#input-container
      div.model-viewer.output#output-container


    +threejs_body()
    +standard_body()
    script(src='/scripts/OrbitControls.js')
    script(src='/scripts/OBJLoader.js')
    script(stc='/scripts/Delegate.js')
    script(src='/scripts/ObjFileRenderer.js')
    script(src='/scripts/BlockListRenderer.js')
    script(type='text/javascript').
      var objRenderer, BlockRenderer;
      var objRendererContainer = document.getElementById("input-container")
      var blockRendererContainer = document.getElementById("output-container")
      
      var height = 600;
      var width = 600;


      $('document').ready(function () {
        $('.model-viewer').css('width', width).css('height', height);

        objRenderer = new ObjFileRenderer(width, height, objRendererContainer);
        BlockRenderer = new BlockListRenderer(width, height, blockRendererContainer);
        var options = {
          beforeSubmit: showRequest,  // pre-submit callback
          success: showResponse  // post-submit callback
        };
        $('form').ajaxForm(options)
        function showRequest(formData, jqForm, options) {

          console.log('start')
          console.log(formData[0].value)
          
          var reader = new FileReader();
          reader.onload = function (e) {
            var contents = e.target.result;
            objRenderer.setObjData(contents);
          };
          
          reader.readAsText(formData[0].value);
          return true;
        }

        function showResponse(response, statusText, xhr, $form) {
          console.log(response)
          if ('error' in response) {
            alert('Error: ' + response.error)
          } else {
            BlockRenderer.setBlockList(response)
          }
        }
      })
