include mixins
include ajax-form-mixin
html
  head
    title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    form.form-group(method="post",enctype="multipart/form-data",action="/upload")
      p
        input(type="file",name="a")
        input(type="submit")


    div.model-viewer.input#container
    div.model-viewer.output


    +threejs_body()
    +standard_body()
    +ajaxFormMixin('form')
    script(src='/scripts/test-cubes.js')

