include mixins
doctype
html(lang='en')
	head
		+standard_head("Edible Lego")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
	body(style="padding-bottom:10rem;")
		+standard_body()
		.container
			row
				h1(class="text-center") Edible Lego
			row
				hr
				div(align="center")
					i.fa.fa-spinner.fa-5x.fa-spin
					h3 Designing...