mixin standard_head(title)
    title= title
    meta( charset='utf-8' )

    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='Baking Bootstrap Snippets with Jade' )
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
    link(href="/stylesheets/btn-file.css", rel="stylesheet")

mixin standard_body()
    script( src='//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js' )
    script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' )
    script( src='//malsup.github.com/jquery.form.js' )
    script( src='/scripts/btn-file.js')

mixin file_browser_button(name)
    div(class="input-group")
        span(class="input-group-btn")
            span(class="btn btn-primary btn-file")
                |Browse&hellip;
                input(type="file",name=name)
        input(type="text",class="form-control",readonly)
