body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.models {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  justify-content: center;
}

.model-viewer {
  margin: 20px 20px 20px 20px;
  float: left;
}


.input {
  background-color: darkkhaki;
}

.output {
  background-color: red;
}